* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-position: left top;
    background: url(uploads/movies/images/background.jpeg) no-repeat center fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Arial', 'Helvetica', arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-width: 200px;
}

.ads {
    width: 250px !important;
}

.btn {
    color: white;
    background-color: black;
    font-size: 20px;
    margin: auto;
}

.carousel-inner {
    max-width: 80% !important;
    max-height: 340px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    background-color: #DDDDDD;
    min-height: calc(100vh - 70px);
    width: 1000px;
}

.containersmall {
    background-color: #FFFFFF;
    width: 600px;
}

.date {
    padding: 6px 0px;
    margin: 0px 5px;
}

.details {
    color: red;
    display: flex;
}

.dropdown {
    margin: 20px 0px;
    display: flex;
}

.flex {
    display: flex;
}

.header {
    padding: 8px 20px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 20px 0;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.icon {
    color: black;
}

.image img {
    display: block;
    width: 100%;
    margin: auto;
}

.margin {
    margin-top: 10px;
}

.menu-item {
    color: white;
}

.menu-item:hover {
    color: #BBBBBB;
}

.nav-item {
    padding: 0px 30px;
    font-size: 15px;
}

.navbar-brand {
    font-weight: bold;
    padding: 0px 100px;
    font-size: 36px;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar-default {
    background-color: #000000;
    border-color: #425766;
}

.navbar-nav {
    padding-right: 10px;
    color: white;
}

.padding-right {
    margin: auto;
}

.poster-container {
    width: 80%;
    position: absolute;
}

.posters {
    width: 120px !important;
    margin-left: 20px;
    margin-top: 10px;
}

.postersbig {
    width: 180px !important;
    margin-left: 10px;
    margin-bottom: 20px;
}

.postersmedium {
    width: 150px !important;
    margin-bottom: 20px;
}

.posters .postersbig .postersmedium .ads {
    position: relative;
    display: block;
    margin: auto;
    border: solid 5px;
    border-color: white;
}

.subtitle {
    color: white;
    margin: auto;
}

.ticketcontainer {
    background-color: white;
    border: solid 1 grey;
}

.title-container {
    background-color: #BBBBBB;
    display: flex;
    padding: 15px 0px;
    margin: 0px !important;
}

.titlebig {
    font-size: 30px;
}

.titlesmall {
    font-size: 18px;
}

.titlebig .titlesmall {
    font-weight: bolder;
    padding-bottom: 20px;
}
