* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-position: left top;
  background: url(/application/images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  color: #000000;
  font-family: 'Arial', 'Helvetica', arial, sans-serif;
  font-size: 16px;
  margin: 0;
  min-width: 200px;
}

.margin {
  margin-top: 10px;;
}

.navbar-default {
    background-color: #000000;
    border-color: #425766;
}

.navbar-brand {
  font-weight: bold;
  padding: 0px 100px;
  font-size: 36px;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.center {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-item {
  padding: 0px 50px;
  font-size: 15px;
}

.navbar-nav {
  padding-right: 20px;
}

.menu-item {
  color: white;
}

.menu-item:hover {
  color: #BBBBBB;
}

.subtitle {
  color: white;
  margin: auto;
}

.image img {
  display: block;
  width: 100%;
  margin: auto;
}

.details {
  color: red;
  display: flex;
}

.poster-container {
  width: 80%;
  position: absolute;
}

.title-container {
  background-color: #BBBBBB;
  display: flex;
  padding: 15px 0px;
  margin: 0px !important;
}

.posters .postersbig .postersmedium .ads {
  position: relative;
  display: block;
  margin: auto;
  border: solid 5px;
  border-color: white;
}
.posters {
  width: 120px !important;
  margin-left: 20px;
  margin-top: 10px;
}

.postersmedium {
  width: 150px !important;
  margin-bottom: 20px;
}

.postersbig {
  width: 180px !important;
  margin-left: 50px;
  margin-bottom: 20px;
}

.ads {
  width: 250px !important;
}

.padding {
  padding: 20px 20px 0 0;
}

.titlebig .titlesmall {
  font-weight: bolder;
  padding-bottom: 20px;
}

.titlebig {
  font-size: 30px;
}

.titlesmall {
  font-size: 18px;
}

.carousel-inner {
  max-width:80% !important;
  max-height:340px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.date {
  padding: 6px 0px;
  margin: 0px 5px;
}

.container {
  background-color: #DDDDDD;
  min-height: calc(100vh - 70px);
  width: 1000px;
}

.ticketcontainer {
  background-color: white;
  border: solid 1 grey;
}

.icon {
  color: black;
}

.dropdown {
  margin: 20px 0px;
  display: flex;
}

.flex {
  display: flex;
}

.btn {
  color: white;
  background-color: black;
  font-size: 20px;
  margin: auto;
}

.header {
  padding: 8px 20px;
  color: white;
  background-color: black;
  text-align: center;
  margin: 20px 0;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
